.svg-container {
    overflow-x: scroll;
  }
  
  svg {
    overflow: hidden;
    margin: 0 auto;
  }
  
  * >>> .node rect {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
  }
  
  * >>> .edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
  }

  
  /* Position tooltip above the element */
  * >>> [data-tooltip]:before {
    content: attr(data-tooltip);
  }

  * >>> g.node g[data-method]{
    cursor: pointer;
  }

  * >>> g.node g[data-method]:hover rect{
    fill: #eee;
  }
